<h1>Observable Static Methods - Part 1</h1>

<p>
  Below is the result of many Observable static methods in the rxJS suite.
</p>

<h4>Of Method</h4>
<p>
  {{ofProperty}}
</p>

<h4>Range Method</h4>
<p>
  {{rangeProperty}}
</p>

<h4>Timer Method</h4>
<p>
  {{timerProperty}}
</p>

<h4>Interval Method (Continuous)</h4>
<p>
  {{ongoingIntervalProperty}}
</p>

<h4>Interval Method (Limited Time Only)</h4>
<p>
  {{limitedIntervalProperty}}
</p>

<h4>Concat Method</h4>
<p>
  {{concatProperty}}
</p>

<h4>Merge Method</h4>
<p>
  {{mergedProperty}}
</p>

<h4>Concat and Merge Methods Together</h4>
<p>
  {{concatMergedProperty}}
</p>

<h4>Throw Method</h4>
<p>
  {{throwsProperty}}
</p>